@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li,ol{list-style: none;}
a{text-decoration: none; color: inherit;}

.banner{width: 100%; height: 150px; background-color: aquamarine;justify-content: space-between;display: flex;
        align-items: center;justify-content: space-between;}

.menu01{display: flex;
        width: 1200px; margin: 0 auto;
        justify-content: space-between;

        }


.menu01 > li{width: 150px; background-color: bisque; border-radius: 15px; text-align: center;
             position: relative;}

.menu01 > li > a{display: block; height: 50px; line-height: 50px; text-align: center;}

.menu_1{position: absolute; left: 0; top: 60px;}

.menu_1 li{}

.menu_1 li a{}



.main_img{background-color: bisque; width: 100%; height: 600px;}

h1{margin: 50px auto; text-align: center;font-size: 40px;}


.mm_1{width: 1600px; height: 200px; background-color: blueviolet; margin: 0 auto;display: flex; 
        line-height: 300px;justify-content: space-around;}

.mm_1 > li > a{height: 100px; background-color: burlywood   ; padding: 20px; font-size: 30px;}


/* .middle_box{width: 1199px; height: 600px; margin: 0 auto; background-color: cornflowerblue;} */

.middle_icon{/* idth: 240px; height: 240px; */ background-color: darkorange; display: flex;flex-wrap: wrap; 
                justify-content: space-around;width: 1199px; height: 600px; margin: 0px auto;}

.middle_icon > li > a{width: 240px; height: 240px;background-color: darkslateblue; display: block;
                        margin: 30px 0px;}

.section{width: 100%; height: 400px; background-color: darksalmon;}

.bottom_menu{width: 100%; height: 600px; background-color: darkgray;}

.bottom_menu_wrap{width: 1200px; height: 600px; background-color: darkmagenta; margin: 0 auto;display: flex;
                flex-wrap: wrap; justify-content: space-around;}

.bottom_menu_wrap > div{width: 500px; height: 250px; background-color: rgb(255, 205, 188); margin-top: 25px;
                        border-radius: 30px;}

.footer{width: 100%; height: 200px; background-color: violet; }











.footer02{width: 100%; height: 300px; background-color: coral;}